
.edit-location-container {
    margin: auto 0;
    /* background-color: pink; */
}

.edit-location {
    

}

.image-edit-loc {


}

.title-loc-edit {


}

.body-loc-edit {
    

}

#edit-textarea-loc {
    /* border: none;
    border-collapse:collapse;
    border-right: #000 1px solid;
    border-left: #000 1px solid;
    resize: none;
    margin: 0;
    padding: 0; */
}


.city-loc-edit {


}

.state-loc-edit {


}


.zip-code-loc-edit {


}

.button-loc-edit {


}


.submit-btn-loc-edit{
    background-color: rgba(210, 105, 30, 0.359);
    color: red;

}



