/* LandingPage CSS here */
/* 
* {
    margin: 0;
} */

.lp-main-container {

   height: 800px;
   width: 100%;
   
}

.a-link-logo-home {
    color: #fff;
    text-decoration: none;
    
}

.image {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    margin: auto 0px;

}

.overlay {
    position: absolute;
    top: 8%;
    right:0;
    left: 0;
    bottom: 87%;
    color: #fff;
    font-family: RockoUltraFLF-Bold;
    font-weight: 700;
    display: flex;
    justify-content: center;
    
}
 /* align-items: center; */
.overlay, logo-image {

}








