




.container {
    background-color: rgba(74, 77, 78, 0.438);
    display: flexbox;
    justify-content: center;
    height: 700px;
    align-items: center;

}

.login-form {
    background-color: rgba(255, 255, 255, 0.7);
    display: flexbox;
    padding: 10px;
    width: 400px;

}

input[type='text'] {
    padding: 6px;
    
}







