




.container {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(252, 252, 252);

}
.sub-container {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;

}

.img {
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.img-container {
    background-color: rgb(223, 221, 221);
    border-radius: 150px;
    display: flex;
    height: 115px;
    width: 115px;
}

.profile {
    height: 110px;
    width: 110px;
    border-radius: 150px;
}


.login-form {
   

}

.flex-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

input[type='text'], [type='password'] {
    padding: 3px;
    
}

input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}


label {
    width: 300px;
    height: 30px;
    border-radius: 130px;
    box-shadow: inset 0px 0px 25px 0px #888;
}

.email {
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.password {
    height: 35px;
    width: 35px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.button {
    width: 360px;
    height: 40px;
    background-color: #d55bd1a7;
    border-radius: 60px;
    color: white;
    font-size: 25px;
    border: none;

}

.name {

}

.login-btn {
    padding-top: 25px;
}

