
ul {
    /* list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; assumes you only want one row
  */
}

li > a {
    /* padding: 0 20px;
    padding: 5px 5px;
    margin: 25px; */

}

 .menu {
    clear:both;
    float:left;
    margin-top:1em;
    padding-bottom:1em;
    width:100%;
    background-repeat:no-repeat;
}

/* ul.menu {
    display: table;
    margin-left: auto;
    margin-right: 0em;
} */
.menu li
/* horizontal menu layout */
 {
    display: flex;
    justify-content: end;
    margin-right:30px;

}
.menu li a:hover
/* link style on-mouse-over */
 {
    color: #FFF;
    text-transform: uppercase;
    /* text-decoration: none; */
}
.menu li:hover
/* button style on-mouse-over */
 {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
}
.menu li a
/* link style */
 {
    color:#FFF;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;

    /* font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.7em 1em 0.7em 1em; */
}

.nav, .menu {
    color:#FFF;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    text-transform: uppercase;
    display: inline-block;
}