/* CSS  for Login Modal */

 h4 {
    color: #D32323;
    text-align: center;

}
.main-content {
    position: fixed;
    z-index: 20;
}

.header {   
    height: 40px;
    background: #D32323;
    color: white;
    padding: 10px 0;
    font-family: RockoUltraFLF;
    font-size: 20px;
    position: relative;
    border-radius: 8px 8px 0 0;
}


.header-info {
    display: block;
    text-align: center;
    
}

.display-errors {

    background-color: #fff;
    color: red;
    font-size: 12px;
}

/* make columns */

.modal-column {
    background-color: ##FFF;
    float: left;
    width: 400px;
    padding: 0 15px;
    display: block;
}

/* right side for illustration  */
.illustration-column {

    background-color: #fff;
    float: right;
    width: 400px;
    padding: 0 15px;
    margin-top: 80px;
    box-sizing: border-box;
}


.image {
    /* yelp-signup-illustration.png */
    /* border: 1px solid #000; */
    width: 230px;
    height: 200px;
    vertical-align: middle;
    margin-left: 30px;
}




/* Modal content */

.modal-content {


}




.login-info {
    margin: 24px;

}


/* third party buttons for login */

.third-party-logins {
    margin: 24px;

}

.facebook {
    margin: 8px 0px;

}

.facebook-btn {
    color: #fff;
    background: #1877f2;
    border: 1px solid #1877f2;
    height: 30px;
    width: 250px;
    padding: 1px 13px;
    border-radius: 3px;

}

.google {
    margin: 8px 0px;

}
.google-btn {
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    width: 250px;
    padding: 1px 13px;
    border-radius: 3px;

}

.apple {
    margin: 8px 0px;

}

.apple-btn {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    height: 30px;
    width: 250px;
    padding: 1px 13px;
    border-radius: 3px;

}


.or {
    margin: 24px;
    color: #666666;
}


.login-container {
    margin: 24px;

}

.user-input {
    box-sizing: border-box;
    height: 30px;
    width: 250px;
    margin: 0 0 10px;
    padding: 5px 5px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;

}

.password-input {
    box-sizing: border-box;
    height: 30px;
    width: 250px;
    margin: 0 0 10px;
    padding: 5px 5px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;

}


.forgot-password   {
    color: #0073bb;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    padding: 5px 0 5px 0;
    
}

.login-btn {
    padding: 1px 0px;
    font-size: 16px;
    color: #fff;
    background: #d32323;
    border: 1px solid #d32323;
    height: 30px;
    width: 250px;
    font-weight: bold;

}

.sign-up {


}



/* Footer */
.footer {
    display: flex;
    flex-wrap: row wrap;
    margin: 0;
    padding: 50px;
    border: 0;
    vertical-align: baseline;
    background-color: #F0F0F0;
    color: #2D2E2E;
}

.footer > * {
    flex: 1 100%
}

.about-column {
    display: flex;

}

.discover-column {


}

.kelp-business-column {


}

.language-column {


}


.copyright {
    

}





