/* CSS  for Login Modal */

 h4 {
     border: 1px solid #000;
    color: #D32323;
    text-align: center;

}
.main-content {
    border: 1px solid #000;
    position: fixed;
    z-index: 20;
}

.header {   
   height: 40px;
    background: #D32323;
    color: white;
    padding: 10px 0;
    font-family: RockoUltraFLF;
    font-size: 21px;
    position: relative;
    /* z-index: 1012!important; */
}


.header-info {
    display: block;
    text-align: center;
    
}

.display-errors {

    background-color: #fff;
    color: red;
}

/* make columns */

.modal-column {
    border: 1px solid #000;
    background-color: #c3c3c3;
    float: left;
    width: 600px;
    padding: 0 15px;
    display: block;
}

/* right side for illustration  */
.illustration-column {

    background-color: #fff;
    float: right;
    width: 400px;
    padding: 0 15px;
    margin-top: 80px;
    box-sizing: border-box;
}


.image {
    /* yelp-signup-illustration.png */
    /* border: 1px solid #000; */
    width: 230px;
    height: 200px;
    vertical-align: middle;
    margin-left: 30px;
}




/* Modal content */

.modal-content {

border: 1px solid #000;
}




.login-info {
border: 1px solid #000;

}


/* third party buttons for login */

.third-party-logins {
border: 1px solid #000;
}

.facebook {

}

.facebook-btn {

}

.google {

}
.google-btn {

}

.apple {

}

.apple-btn {

}


.or {
border: 1px solid #000;
}


.login-container {
border: 1px solid #000;
}

.user-input {

}

.password-input {

}


.forgot-password {
border: 1px solid #000;

}

.login-btn {

}

.sign-up {
border: 1px solid #000;
}



/* Footer */
.footer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-color: #F0F0F0;
}

.about-column {
border: 1px solid #000;
}

.discover-column {
border: 1px solid #000;

}

.kelp-business-column {
border: 1px solid #000;
}

.language-column {
border: 1px solid #000;
}


.copyright {
border: 1px solid #000;
}





